<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>

</style>
</head>

    .hello {

        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.container {
  display: flex;
  column-gap: 9px;
}
.box {
  color: aliceblue;
  background-color: plum;
}
#box1 {
  margin: 21px;
  height: 50px;
  width: 100px;
  color:#C71585;
  background-color: aliceblue;
  border: 12px solid plum;
  padding: 42px;
  outline: 3px solid #8B008B;
}

#box2 {
  height: 50px;
  width: 100px;
  border: 12 solid #C71585;
  padding: 42px;
  outline: 3px solid #E6E6FA;
}

#contentbox {
  margin:0;
  background-color: plum;
  color:#E6E6FA;
  box-sizing: content-box;
  height: 100px;
  width: 100px;
  padding:30px;
   border:20px solid aliceblue
}

#borderbox {
  margin:0;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  padding:30px;
  border:20px solid #8B008B;
}

#span {
  height:80px;
  width: 80px;
  margin: 10px;
}

#special{
  background-color:aliceblue;
  height:50px;
  width:auto;
  color:#8B008B;
  border: 5px solid #C71585;
  border-top-style: groove;
  border-left-style: dashed;
  border-bottom-style: dotted;
  border-right-style: double;
  border-bottom-color: #8B008B;
}

.inline {
  outline: 2px solid firebrick;
  display: inline;
}

.p1 {
  font-family:"ani", monospace;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.title,
.title2 {
  font-family:"ani", monospace;
}
footer {
  color:palevioletred;
  font-family: monospace;
}

.title {
  background-color:bisque;
}

.title2 {
  background-color: pink;
}

#head {
  background-color: burlywood;
  border: 10px solid rgba(206, 65, 131,0.3);
  color: rgba(206, 65, 131,0.5);
}

.subsec#bowl {
  border:10px solid rgba(248, 203, 224, 0.26);
  color: palevioletred;
  outline: 2px solid peru;
  display: inline-block;
}

.input.yes {
  color:goldenrod
}
.flexcontainer{
  display: flex;
  column-gap: 10px;
  outline: 2px solid coral;
  border:2px solid rgba(255, 127, 80, 0)
}
.flexcontainer div{
  text-align: center;
  text-decoration: wavy;
  height: 40px;
  width: auto;
  color: coral;
  background-color: aliceblue;
  border: 10px solid peachpuff;
  flex: 1 1 0%;
}

#shrink {
  flex: 0.5 1 auto;
}
#grow {
  flex: 2 0 auto;
}
#basis {flex: 1 1 27%;}